process {
    withLabel: busco { container = "quay.io/biocontainers/busco:5.5.0--pyhdfd78af_0" }
    withLabel: omark { container = "phuongdoan96/omark:0.3.0"}
    withLabel: blast { container = "ncbi/blast:2.15.0" }
    withLabel: diamond { container = "quay.io/biocontainers/diamond:2.1.9--h43eeafb_0" }
    withLabel: biopython { container = "phuongdoan96/biopython-aiohttp:0.1" }
    withLabel: hisat2 { container = "nanozoo/hisat2:2.2.1--75357cd" }
    withLabel: pandas { container = "amancevice/pandas:2.1.3" }
    withLabel: minimap2 { container = "nanozoo/minimap2:2.26--d9ef6b6" }
    withLabel: gffread { container = "quay.io/biocontainers/gffread:0.12.7--hdcf5f25_4" }
    withLabel: subread { container = "quay.io/biocontainers/subread:2.0.6--he4a0461_2" }
}