process {
    withLabel: repeatmodeler { conda = "$baseDir/envs/conda/repeatmodeler.yml" }
    withLabel: repeatmasker  { conda = "$baseDir/envs/conda/repeatmasker.yml" }
    withLabel: protexcluder  { conda = "$baseDir/envs/conda/protexcluder.yml" }
    withLabel: funannotate   { conda = "$baseDir/envs/conda/funannotate.yml" }
    withLabel: transposon    { conda = "$baseDir/envs/conda/transposonpsi.yml" }
    withLabel: stringtie     { conda = "$baseDir/envs/conda/stringtie.yml" }
    withLabel: minimap2      { conda = "$baseDir/envs/conda/minimap2.yml" }
    withLabel: multiqc       { conda = "$baseDir/envs/conda/multiqc.yml" }
    withLabel: braker        { container = "teambraker/braker3:v.1.0.4.1" }
    withLabel: fastqc        { conda = "$baseDir/envs/conda/fastqc.yml" }
    withLabel: blast         { conda = "$baseDir/envs/conda/blast.yml" }
    withLabel: busco         { conda = "$baseDir/envs/conda/busco.yml" }
    withLabel: fastp         { conda = "$baseDir/envs/conda/fastp.yml" }
    withLabel: star          { conda = "$baseDir/envs/conda/star.yml" }
    withLabel: gaas          { conda = "$baseDir/envs/conda/gaas.yml" }
    withLabel: unix          { conda = "$baseDir/envs/conda/unix.yml" }   
}