process {
    withLabel: repeatmodeler { container = "dfam/tetools:1.85" }
    withLabel: repeatmasker  { container = "dfam/tetools:1.85" }
    withLabel: protexcluder  { container = "phuongdoan96/protexcluder:1.2.0" }
    withLabel: funannotate   { container = "nextgenusfs/funannotate:v1.8.15" }
    withLabel: transposon    { container = "phuongdoan96/transposon:1.0.0" }
    withLabel: stringtie     { container = "quay.io/biocontainers/stringtie:2.2.1--h6b7c446_4" }
    withLabel: minimap2      { container = "nanozoo/minimap2:2.26--d9ef6b6" }
    withLabel: multiqc       { container = "quay.io/biocontainers/multiqc:1.16--pyhdfd78af_0" }
    withLabel: braker        { container = "teambraker/braker3:v.1.0.4.1" }
    withLabel: fastqc        { container = "quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0" }
    withLabel: blast         { container = "ncbi/blast:2.7.1" }
    withLabel: busco         { container = "quay.io/biocontainers/busco:5.5.0--pyhdfd78af_0" }
    withLabel: fastp         { container = "quay.io/biocontainers/fastp:0.23.4--hadf994f_2" }
    withLabel: tools         { container = "amancevice/pandas:slim-2.1.3" }
    withLabel: star          { container = "quay.io/biocontainers/mulled-v2-1fa26d1ce03c295fe2fdcf85831a92fbcbd7e8c2:1df389393721fc66f3fd8778ad938ac711951107-0" }
    withLabel: gaas          { container = "phuongdoan96/gaas:1.2.0" }
}